<menu class="p-2" style="position: fixed; bottom: 0; width: 100%; background-color: var(--first-color); z-index: 999;">
    <div class="d-flex justify-content-around align-items-center text-white">
        <div class="text-center d-flex align-items-center gap-1" onclick="window.location.href='/line_oa_shop'" style="cursor: pointer;">
            <i class="bi bi-bag-fill fs-4"></i><br />
            <small>ສິນຄ້າ</small>
        </div>
        <div class="text-center d-flex align-items-center gap-1" onclick="window.location.href='/line_oa_order_list'" style="cursor: pointer;">
            <i class="bi bi-receipt-cutoff fs-4"></i><br />
            <small>ປະຫວັດ</small>
        </div>
    </div>
</menu>